.flex-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
div,
section,
footer,
header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
fieldset,
img {
  border: none;
}
img {
  display: block;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  border: none;
}
table {
  border-collapse: collapse;
}
body {
  color: #333;
  font: 12px/1.2 "微软雅黑", "SimSun", "Arial Narrow", HELVETICA;
  background: #fff;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
html {
  font-size: 100px;
}
header .logo {
  height: 0.94rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  background-color: #FA3432;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.3rem;
  color: #fff;
}
header .logo a {
  font-size: 0.3rem;
  color: #fff;
}
header .logo .logo-title {
  display: flex;
  align-items: center;
}
header .logo .logo-title img {
  margin-right: 0.15rem;
}
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 0.86rem;
}
.topnav .current {
  color: #ff3636;
}
.topnav a {
  font-size: 0.24rem;
  color: #4b4a4a;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe .swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe .swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
.swipe img {
  /*让图片100%*/
  width: 100%;
}
.swipe .indirector {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.swipe .indirector span {
  display: inline-block;
  margin: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.swipe .indirector span.on {
  background-color: red;
}
.usernav {
  display: flex;
  align-items: center;
  height: 2rem;
  background-color: #FFF;
  justify-content: space-around;
}
.usernav i {
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  line-height: 0.9rem;
  border-radius: 25%;
  text-align: center;
  font-size: 0.5rem;
  color: #FFF;
}
.usernav .icon-suo {
  background-color: #4099E9;
}
.usernav .icon-women {
  background-color: #FB6361;
}
.usernav .icon-xinshouzhiyin {
  background-color: #40C8B0;
}
.usernav .icon-wenti {
  background-color: #FFAE28;
}
.usernav div {
  font-size: 0.24rem;
  line-height: 0.24rem;
  margin-top: 0.12rem;
  color: #808080;
}
.hotproducts {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.hotproducts .title {
  height: 0.95rem;
  line-height: 0.95rem;
  font-size: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hotproducts .title h3 {
  background: url(../img/home_ico_09.png) no-repeat;
  background-size: 0.46rem 0.46rem;
  width: 2.5rem;
  padding-left: 0.48rem;
  height: 0.46rem;
  line-height: 0.46rem;
}
.hotproducts .title a {
  color: #9A9B9C;
}
.hotproducts .itemlist li {
  height: 2.55rem;
  border: 1px solid #DDDDDD;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
}
.hotproducts .itemlist li .item-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.28rem;
}
.hotproducts .itemlist li .item-title h4 {
  color: #494848;
  font-size: 0.28rem;
}
.hotproducts .itemlist li .item-title span {
  color: #fff;
  font-size: 0.22rem;
}
.hotproducts .itemlist li .item-title span .cash {
  width: 0.85rem;
  height: 0.3rem;
  background-color: #ffab37;
  display: inline-block;
  text-align: center;
  border-radius: 5%;
}
.hotproducts .itemlist li .item-title span .icon-vip {
  width: 0.33rem;
  height: 0.3rem;
  background-color: #ff7404;
  display: inline-block;
  text-align: center;
  font-size: 0.22rem;
  border-radius: 5%;
}
.hotproducts .itemlist li .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.43rem;
  margin-right: 0.43rem;
}
.hotproducts .itemlist li .data .data1 strong {
  color: #FB4034;
  font-size: 0.38rem;
}
.hotproducts .itemlist li .data .data1 em {
  color: #FF7900;
  font-size: 0.24rem;
}
.hotproducts .itemlist li .data .data2 {
  color: #9A9B9C;
}
.hotproducts .itemlist li .data .data2 .p1 {
  font-size: 0.3rem;
}
.hotproducts .itemlist li .data .data2 .p1 strong {
  color: #3D3C3C;
}
.hotproducts .itemlist li .data .data2 .p2 {
  font-size: 0.3rem;
}
.hotproducts .itemlist li .data .data3 img {
  width: 1.36rem;
  height: 1.36rem;
}
.news .title {
  padding-left: 0.18rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 0.95rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}
.news .title h4 {
  font-size: 0.3rem;
}
.news .newscontent {
  padding-left: 0.18rem;
  padding-right: 0.18rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.23rem;
}
.news .newscontent .items {
  padding-top: 0.35rem;
  display: flex;
  align-items: center;
}
.news .newscontent .items img {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 25%;
  margin-right: 0.23rem;
  flex: 0 0 auto;
}
.news .newscontent .items .note {
  flex: 1 1 auto;
}
.news .newscontent .items .note h4 {
  font-size: 0.3rem;
  margin-bottom: 0.23rem;
  color: #494848;
}
.news .newscontent .items .note p {
  display: flex;
  justify-content: space-between;
  color: #9A9B9C;
  font-size: 0.28rem;
}
.news .newscontent .items:nth-child(3) {
  padding-bottom: 0.23rem;
}
footer {
  height: 1.65rem;
  padding-top: 0.45rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
footer .copy1 {
  color: #494848;
  font-size: 0.28rem;
  margin-bottom: 0.26rem;
}
footer .copy1 a {
  color: #494848;
  font-size: 0.28rem;
}
footer .copy2 {
  color: #9A9B9C;
  font-size: 0.26rem;
}
